* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* #ffa502 primary */
}

#footer-page {
  position: absolute;
  bottom: 0;
  width: 100%;
}
/* register admin */
.signUp-img {
  height: 2000px;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
